.cabecalho{
    background-color: blue;
    width: 980px;
    height: 140px;
    margin-bottom: 15px;
}
.corpo {
    display: flex;
    justify-content: space-between;
    margin-top: 15px 0 15px 15px;
}
.sidebar{
    width: 270px;
    height: 450px;
    background-color: yellow;
}
.content{
    margin-right: 352px;
    width: 690px;
    height: 450;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 64, 94);
}
.rodape{
    background-color: aqua;
    width: 980px;
    height: 70px;
    margin-top: 15px;
}
